!!! XML
%cv
	%personal-info
		%name John Beltrano 
		%email j.beltrano@gmail.com
		%address Porto Alegre, Brazil

	%education
		%school
			%name UNISINOS
			%title Computer Science
			%degree Bachelor

	%professional-info
		%job-title Senior Software Engineer
		%total-experience 10 years
		%sumary
			:markdown
				Soft engineer pretty good at programming.
		%core
			:markdown
				C and C++,
				Cobol,
				Logo,
				ADA
		%experience
			%job
				%company ACME INC 
				%start-date 2009
				%end-date current
				%location NY/USA
				%text
					:markdown
						I've created brand new software for
						acme products.

